{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/user-defined.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}?afafter" rel="stylesheet">
        <title>안녕하세요</title>
    </head>
    <body>  
        <div class="header">
            <h1><a href="{% url 'index:index' %}">Djan9oB</a></h1>
        </div>
        <div class="menu_bar">
            <a href="#3">???</a>
            <a href="#2">???</a>
            <a id="board_btn" href="{% url 'board:index' %}">게시판</a>
        </div>
        <div class="login_info">
            {% if user.is_authenticated %}
                <p><strong>{{ user.get_username }}</strong>&nbsp;님<br>환영합니다</p>
                <a href="{% url 'account:logout' %}?next={{ request.path }}">Logout</a>
            {% else %}
                <a href="{% url 'account:login' %}?next={{ request.path }}">Sign in</a>
                <a href="{% url 'account:signup' %}">Sign up</a>
            {% endif %}
        </div>


        <div class="content">
            {% block content %}
            {% endblock%}
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>