{% extends 'base.html' %}
{% block content %}
    
    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">정렬</a>      
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <ul><a class="dropdown-item" href="{% url 'board:index'%}?sort=id&&kw_type={{ kw_type }}&&kw={{ kw }}">최근순</a></ul>
        <ul><a class="dropdown-item" href="{% url 'board:index'%}?sort=reversed_id&&kw_type={{ kw_type }}&&kw={{ kw }}">오래된 순</a></ul>
        <ul><a class="dropdown-item" href="{% url 'board:index'%}?sort=view&&kw_type={{ kw_type }}&&kw={{ kw }}">조회순</a></ul>
    </ul>
    <div class="container my-3">
        <fieldset>
            <legend>※공지사항※</legend>
            <table class="table notice">
                <thead>
                    <tr class="text-center table-dark">
                        <th>번호</th>
                        <th style="width:50%">제목</th>
                        <th>글쓴이</th>
                        <th>작성일시</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    {% if manager.user.all %}
                        {% for admin_board in manager.user.all %}
                            <tr class="text-center">
                                <td>
                                    {{ admin_board.id }}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'board:detail' admin_board.id %}">{{ admin_board.title }}</a>
                                    {% if admin_board.comment_set.count > 0 %}
                                    <span class="text-danger small mx-2">({{ admin_board.comment_set.count }})</span>
                                    {% endif %}
                                </td>
                                <td>관리자</td>
                                <td>{{ admin_board.create_date }}</td>
                                <td>{{ admin_board.view }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">게시글이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>            
        </fieldset>
        <fieldset>
            <legend>게시판</legend>
        <table class="table">
            <thead>
                
            <tr class="text-center table-dark">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            {% if board_list %}
            {% for board in board_list %}
            <tr class="text-center">
                <td>
                    {{ board.id }}
                </td>
                <td class="text-center">
                    <a href="{% url 'board:detail' board.id %}">{{ board.title }}</a>
                    {% if board.comment_set.count > 0 %}
                    <span class="text-danger small mx-2">({{ board.comment_set.count }})</span>
                    {% endif %}
                </td>
                <td>{{ board.user.username }}</td>
                <td>{{ board.create_date }}</td>
                <td>{{ board.view }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">게시글이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </fieldset>
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if board_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_list.previous_page_number }}&&sort={{ sort }}&&kw_type={{ kw_type }}&&kw={{ kw }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in board_list.paginator.page_range %}
            {% if page_number >= board_list.number|add:-5 and page_number <= board_list.number|add:5 %}
                {% if page_number == board_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}&&sort={{ sort }}&&kw_type={{ kw_type }}&&kw={{ kw }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}&&sort={{ sort }}&&kw_type={{ kw_type }}&&kw={{ kw }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if board_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_list.next_page_number }}&&sort={{ sort }}&&kw_type={{ kw_type }}&&kw={{ kw }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <a class="btn btn-primary" href="{% url 'board:board_create' %}">글쓰기</a>
        {% include 'search_form.html' %}

        
    </div>
    <script>
        elem = document.getElementById('board_btn');
        elem.className = "active";
        elem.style = "color:black";
    </script>
{% endblock %}