{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="ko">
{% block content %}

<body class="p-3">
    <main>
        <form method="POST" action="{% url  %}">
            {% csrf_token %}
            <div class="col">
                {{ user.get_username }}
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="comment_text" name="comment_text" placeholder="#" required>
                <label for="comment_text">
                    <!-- 내용 -->
                </label>
            </div>
            <input class="btn btn-primary" type="submit" value="수정">
        </form>
    </main>
</body>

</html>