{% extends 'base.html' %}
{% load static %}
<!doctype html>

<script>

</script>

<html lang="ko">
    {% block content %}
    <body class="p-3">
        <main>
            <p class="lead">
                게시판
            </p>
            <div class="container-fluid themed-container-notice">공지사항</div>
            
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    정렬
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <ul><a class="dropdown-item" href="{% url 'board:index' 'id' %}">최근순</a></ul>
                  <ul><a class="dropdown-item" href="{% url 'board:index' 'reverse_id' %}">오래된 순</a></ul>
                  <ul><a class="dropdown-item" href="{% url 'board:index' 'view' %}">조회순</a></ul>
                </ul>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-1">번호</th>
                        <th class="col-sm-5">제목</th>
                        <th class="col-sm-2">글쓴이</th>
                        <th class="col-sm-3">작성일</th>
                        <th class="col-sm-1">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in board_obj %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <!-- <td><a href="/board/{{obj.id}}">{{ obj.title }}</a></td> -->
                        <td><a href="{% url 'board:detail' obj.id %}">{{ obj.title }}</a></td>
                        <td>{{ obj.user.get_username }}</td>
                        {% if obj.create_date == obj.update_date %}
                            <td>{{ obj.create_date|date:'y-m-d H:i' }}</td>

                        {% else %}
                            <td>수정됨: {{ obj.update_date|date:'y-m-d H:i' }}</td>

                        {% endif %}
                        <td>{{ obj.view }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <ul class="pagination">
                <!-- {% if board_obj.paginator.has_previous %}
                    <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                {% endif %} -->
                {% for i in board_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="{% url 'board:paging' i %}">{{i}}</a></li>
                {% endfor %}
                <!-- {% if board_obj.paginator.has_next %}
                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                {% endif %} -->
            </ul>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'board:write' %}">글쓰기</a>
            {% endif %}

            
        </main>
    </body>
    {% endblock %}
    
    
</html>