{% extends 'base.html' %}

{% block content %}
    
    {% comment %} <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">정렬</a>      
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <ul><a class="dropdown-item" href="{% url 'board:mypage_index'%}?type=like&user_id={{ user_id }}">좋아요</a></ul>
        <ul><a class="dropdown-item" href="{% url 'board:mypage_index'%}?type=unlike&user_id={{ user_id }}">싫어요</a></ul>
    </ul> {% endcomment %}
    <div class="container my-3">
        <table class="table">
            <thead>
                
            <tr class="text-center table-dark">
                <th>유저 네임</th>
                <th>유저 이메일</th>
                <th>좋아요 한 게시물 수</th>
                <th>싫어요 한 게시물 수</th>
                <th>가입일자</th>
            </tr>
            </thead>
            <tbody>
            {% if user_list %}
            {% for user in user_list %}
            <tr class="text-center">
                <td><a href="{% url 'board:mypage_index' %}?user_id={{ user.id }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.like_user.count }}</td>
                <td>{{ user.unlike_user.count }}</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">게시글이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if user_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ user_list.previous_page_number }}&&type={{ type }}&&kw_type={{ kw_type }}&&kw={{ kw }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in user_list.paginator.page_range %}
            {% if page_number >= user_list.number|add:-5 and page_number <= user_list.number|add:5 %}
                {% if page_number == user_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}&&type={{ type }}&&kw_type={{ kw_type }}&&kw={{ kw }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}&&type={{ type }}&&kw_type={{ kw_type }}&&kw={{ kw }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if user_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ user_list.next_page_number }}&&type={{ type }}&&kw_type={{ kw_type }}&&kw={{ kw }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>

        <form method="get">
            <select name = "kw_type">
                <option value = "title">제목</option>
                <option value = "title_contents">제목+내용</option>
                <option value = "user">글쓴이</option>
            </select>
            <input type = "search" name =  "kw">
            <input type = "hidden" name = "type" value = "{{ type }}">
            <input class="btn btn-primary" type ="submit" value = "검색">
        </form>

        
    </div>
    <script>
        elem = document.getElementById('board_btn');
        elem.className = "active";
        elem.style = "color:black";
    </script>
{% endblock %}