{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="ko">
{% block content %}
<body class="p-3">
    <main>
        <div class="themed-container-documents">
            <div class="row">
                <div class="col-sm-12" style="font-size: x-large; margin-bottom: 0.5em; ">
                    {{ board_obj.title }}
                </div>
                <div class="col-sm-4">
                작성자: {{ board_obj.user.get_username }}
                </div>
                <div class="col-sm-6">
                {% if board_obj.create_date == board_obj.update_date %}
                    {{ board_obj.create_date|date:'y-m-d H:i' }}

                {% else %}
                    {{ board_obj.create_date|date:'y-m-d H:i' }} 수정됨: {{ board_obj.update_date|date:'y-m-d H:i' }}

                {% endif %}
                </div>
                <div class="col-sm-2">
                    조회수 {{ board_obj.view }}
                </div>
            </div>
        </div>
        <div class="themed-container-documents">{{board_obj.contents|linebreaksbr}}</div>
        <a class="btn btn-primary mb-3" href="{% url 'board:index' %}">목록</a>
        {% if user.is_authenticated %}
        <a class="delete btn btn-primary mb-3" href="javascript:void(0)" style="float: right; margin-left: 6px;"
        data-uri="{% url 'board:delete' board_obj.id %}">삭제</a>
        <a class="modify btn btn-primary mb-3" href="javascript:void(0)" style="float: right;"
        data-uri="{% url 'board:update_form' board_obj.id %}">수정</a>
        {% endif %}
        
        {% for comments in board_obj.comment_set.all %}
        <div class="themed-container-documents">
            <div class="row">
                <div class="col-sm-2">
                    {{ comments.user.get_username }}
                </div>
                <div class="col-sm-6">
                    {{ comments.contents }}
                </div>
                <div class="col-sm-2">
                    {{ comments.reg_date|date:'y-m-d' }}
                </div>
                <a class="delete_comment col-sm-1" href="javascript:void(0)" 
                data-uri="{% url 'board:comment_delete' board_obj.id comments.id %}">
                    수정
                </a>
                <a class="delete_comment col-sm-1" href="javascript:void(0)" 
                data-uri="{% url 'board:comment_delete' board_obj.id comments.id %}">
                    삭제
                </a>
            </div>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'board:comment_reg' board_obj.id %}">
            {% csrf_token %}
            <div class="col">
                {{ user.get_username }}
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="comment_text" name="comment_text" placeholder="#" required>
                <label for="comment_text">내용</label>
            </div>
            <input class="btn btn-primary" type="submit" value="등록">
        </form>
        {% else %}
        <div class="themed-container-documents">
            댓글을 작성하시려면 로그인이 필요합니다.
        </div>
        {% endif %}
    </main>
</body>
{% endblock %}

{% block script %}
<script>
    // 삭제
    var delete_elements = document.getElementsByClassName('delete');
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if(confirm('정말로 삭제하시겠습니까?')){
                location.href = this.dataset.uri;
            };
        });
    });

    // 수정
    var delete_elements = document.getElementsByClassName('modify');
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if(confirm('정말로 수정하시겠습니까?')){
                location.href = this.dataset.uri;
            };
        });
    });

    // 댓글 삭제
    var delete_elements = document.getElementsByClassName('delete_comment');
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if(confirm('정말로 삭제하시겠습니까?')){
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{% endblock %}

</html>