body{
    margin : 0;
    
}
ul{
    list-style: None;
}
li{
    float : left;
    padding: 20px;
    width: 80px;
}
li a{
    text-decoration: None;
}
.header{
    position: fixed;
    border : solid 10px greenyellow;
    width: 100%;
    height: 100px;
}

.logo{
    float : left;
    width : 40%;
    height: 100px;
}
.menu_bar{
    border : solve 5px blue;
    float : left;
    width : 60%;
    height: 100px;
}
a:visited{ color: black;}
a:hover{ color: blue; }

.home_btn{
    width: 50px;
    height: 50px;
    margin: 25px 0 0 25px;
    cursor: pointer;
    border: 2px solid black;
}