body{
    margin : 0;
    
}
ul{
    list-style: None;
}
li{
    float : left;
    width: 80px;
}
a{
    text-decoration: None;
    color : rgb(34, 179, 195);
}
.header{
    /* position: fixed; */
    border : solid 10px greenyellow;
    width: 100%;
    height: 100px;
}

.logo{
    float : left;
    width : 20%;
    text-align: center;
    padding: 20px 0;
}
.menu_bar{
    float : left;
    width : 80%;
    height: 100px;
    text-align: center;
    align-items: center;
}
.side_bar{
    float: left;
    width : 15%;
    height : 100%;
    text-align: center;
    border : solid 3px black;
    margin : 0 10 0 0;
}
.content{
    float : left;
    padding : 10px;
    width : 84%;
    height: 100%;
    border : solid 3px black;
}
a:visited{ color: black;}
a:hover{ color: rgb(52, 27, 212); }

.home_btn{
    width: 70px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;   
}

.login_btn{
    width: 70px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;   
}

